<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Avances en Computacion<%=subtitle%></h2>
    <p> Bienvenidos:<%=subtitle %></p>
  </body>
  
</html>

